/* FolderList.css - Estilo de listas */
.folder-list ul {
  list-style-type: none;
  padding: 0;
}

.folder-list li {
  background: #7E8D85;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #B3BFB8;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.folder-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.folder-list li span {
  font-weight: bold;
  cursor: pointer;
  color: #A2E3C4;
  transition: color 0.3s ease;
}

.folder-list li span:hover {
  color: #F0F7F4;
}

.folder-list button {
  margin-left: 10px;
  background-color: #B3BFB8;
  color: #3C493F;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.folder-list button:hover {
  background-color: #A2E3C4;
}

.folder-list ul ul {
  margin-top: 10px;
  padding-left: 20px;
}

.folder-list .task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #B3BFB8;
}

.folder-list .task-item:last-child {
  border-bottom: none;
}

.folder-list .task-item.completed span {
  position: relative;
  color: #A2E3C4;
  text-decoration: line-through;
  transition: color 0.3s ease;
}

.task-details {
  margin-top: 20px;
  background: #7E8D85;
  padding: 20px;
  border: 1px solid #B3BFB8;
  border-radius: 12px;
  color: #F0F7F4;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.task-details h3 {
  margin-top: 0;
  color: #A2E3C4;
  transition: color 0.3s ease;
}

.task-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.task-form input {
  margin-bottom: 10px;
  background-color: #B3BFB8;
  border: 2px solid #7E8D85;
  border-radius: 8px;
  color: #3C493F;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.task-form input:focus {
  background-color: #A2E3C4;
  border-color: #3C493F;
}

.task-form button {
  align-self: flex-start;
  background-color: #A2E3C4;
  color: #3C493F;
  font-weight: bold;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.task-form button:hover {
  background-color: #7E8D85;
  transform: translateY(-3px);
}
