/* App.css - Estilo general */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3C493F;
  color: #F0F7F4;
  transition: background-color 0.3s ease, color 0.3s ease;
}

div {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #A2E3C4;
  font-size: 2.5rem;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

button {
  background-color: #7E8D85;
  color: #F0F7F4;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #3C493F;
  transform: translateY(-2px);
}

input {
  padding: 10px;
  border: 2px solid #B3BFB8;
  border-radius: 8px;
  margin-right: 10px;
  width: calc(100% - 32px);
  background-color: #7E8D85;
  color: #F0F7F4;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input:focus {
  border-color: #A2E3C4;
  outline: none;
  background-color: #B3BFB8;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

form input,
form button {
  max-width: 400px;
}

div.loading {
  opacity: 0.5;
  pointer-events: none;
}